body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}
header {
    background-color: rgb(43, 90, 43);
    padding: 3rem;
}
main {
    display: flex;
    flex: 1;
}
main article {
    background-color: rgb(168, 5, 33);
    flex: 2;
    order: 2;
}
main aside {
    background-color: rgb(107, 158, 107);
    flex: 1;
    order: 1;
}
footer {
    background-color: rgb(43, 90, 43);
    padding: 50px;
}
.gambar {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-content: flex-end;
}