body {
    display: flex;
    margin: 0;
}
.navigasi {
    background-color: magenta;
    height: 700px;
    width: 200px;
}
.kepala {
    background-color: yellow;
    width: 1110px;
    height: 160px;
}
.menu2 {
    display: flex;
    flex-direction: row;
}
.samping {
    background-color: rgb(255, 96, 96);
    width: 555px;
    height: 380px;
}
.artikel {
    background-color: aqua;
    width: 555px;
    height: 380px;
}
.kaki {
    background-color: yellow;
    width: 1110px;
    height: 160px;
}


